<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../registrar_e_login.css">
    <title>Cadastro</title>
</head>

<body>
    <form action="./login.html" method="get" id="registrar_box">        <div class="prt" id="nome_box">
            <p>nome:</p>
            <input type="text">
        </div>
        <div class="prt" id="login_box">
            <p>login:</p>
            <input type="text">
        </div>
        <div class="prt" id="senha_box">
            <p>senha:</p>
            <input type="text">
        </div>
        <div id="buttons">
            <button type="submit" id="button_registrar">registrar</button>
            <button id="button_voltar"><a href="../index.html">voltar</a></button>
        </div>
    </form>
    <script src="../script.js"></script>
</body>

</html>